:root {
    --color1: white;
    --color2: black;
    --color3: #ffd500;
    --color4: #464646;
}

.color-my{
  color: var(--color4);
    position: fixed;

}
.register{
    color: var(--color4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}